<!--starting page-->
<!-- <app-signup></app-signup> -->


<!-- <app-login></app-login> -->
<!-- <app-trade></app-trade> -->
<!-- <app-login></app-login> -->
<!-- <app-signup></app-signup> -->

<!-- testing homepage below -->
<!-- <app-home-page></app-home-page> -->
<!-- <app-nav-bar></app-nav-bar> -->
<router-outlet></router-outlet>
<!-- <app-footer></app-footer>  -->



<!-- Testing preferences component -->
<!-- <app-preferences></app-preferences> -->
<!-- <app-about-us></app-about-us> -->

<!-- <app-history></app-history> -->
<!-- testing signup page
<app-signup></app-signup> -->


<!-- Testing Robo Advisor -->
<!-- <app-robo-advisor></app-robo-advisor> -->

