<footer class="footer">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <h4>About Us</h4>
                <p>Welcome to Debug Stocks, your trusted partner in stock portfolio management. With a commitment to precision and innovation, we navigate the complex world of stocks to deliver optimal results. Our team is dedicated to enhancing your investment journey, ensuring transparency, and maximizing your financial growth.</p>
            </div>
            <div class="col-md-3 col-sm-6">
                <h4>Quick Links</h4>
                <ul class="footer-links">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Shop</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6">
                <h4>Follow Us</h4>
                <ul class="social-icons">
                    <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i> Instagram</a></li>
                    <li><a href="#"><i class="fa fa-pinterest"></i> Pinterest</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6">
                <h4>Contact Us</h4>
                <p>Fidelity Investments, Neville, Ramanujan IT park</p>
                <p>Email: info@fidelity.co.in</p>
                <p>Phone: 044 4031 1010</p>
            </div>
        </div>
    </div>
</footer>
