<app-nav-bar></app-nav-bar>

 

<body>
    <div class="main">
    <div class="hero min-h-screen bg-base-200">
        <div class="hero-content flex-col lg:flex-row-reverse">
          <img src="../../../../assets/images/logo.PNG" class="max-w-sm rounded-lg shadow-2xl" />
          <div>
            <h1 class="text-5xl font-bold">About Us</h1>
            <p class="py-8">
                Welcome to Debug Stocks, your go-to trading app for a seamless and empowering financial journey! Our
                unwavering commitment is to deliver an exceptional trading experience that caters to your unique needs. At
                Debug Stocks, we offer you a comprehensive suite of features and tools that empower you to take control of
                your financial future.
    
     
    
                With Debug Stocks, your investment possibilities are limitless. You can effortlessly buy and sell stocks,
                effortlessly manage your portfolio, and harness the power of our cutting-edge robo advisor for insightful
                stock recommendations. We understand that every investor is unique, and that's why we've designed our
                platform to be user-friendly, making it accessible to both newcomers to the world of trading and seasoned
                investors.
    
     
    
                Our mission is to ensure that you're equipped with the knowledge and resources needed to make well-informed
                investment decisions. Debug Stocks is your trusted partner on your financial journey, providing the tools
                and insights you need to navigate the dynamic world of finance with confidence. Welcome aboard, and let's
                embark on a prosperous trading adventure together!
            </p>
    
            
            <h2>Our Team</h2>
            
            <ul class="team-list">
            <li>Ananya</li>
            <li>Rahul</li>
            <li>Pratyush</li>
            <li> Swastika</li>
            <li> Vishwanath</li>
            </ul>
            <button class="btn btn-primary">Lets Trade !</button>
          </div>
        </div>
      </div>
      </div>

    
</body>


<app-footer></app-footer>

 